[submodule "nondex/reflectasm"]
	path = nondex/reflectasm
	url = https://github.com/EsotericSoftware/reflectasm.git
[submodule "nondex/yamlbeans"]
	path = nondex/yamlbeans
	url = https://github.com/EsotericSoftware/yamlbeans.git
[submodule "joda-time"]
	path = joda-time
	url = https://github.com/JodaOrg/joda-time.git
[submodule "nondex/joda-time"]
	path = nondex/joda-time
	url = https://github.com/JodaOrg/joda-time.git
[submodule "nondex/oryx"]
	path = nondex/oryx
	url = https://github.com/OryxProject/oryx.git
[submodule "nondex/visualee"]
	path = nondex/visualee
	url = https://github.com/Thomas-S-B/visualee.git
[submodule "nondex/commons-cli"]
	path = nondex/commons-cli
	url = https://github.com/apache/commons-cli.git
[submodule "nondex/commons-lang"]
	path = nondex/commons-lang
	url = https://github.com/apache/commons-lang.git
[submodule "nondex/edn-java"]
	path = nondex/edn-java
	url = https://github.com/bpsm/edn-java.git
[submodule "nondex/vraptor"]
	path = nondex/vraptor
	url = https://github.com/caelum/vraptor.git
[submodule "nondex/scribejava"]
	path = nondex/scribejava
	url = https://github.com/scribejava/scribejava.git
[submodule "nondex/geoserver-manager"]
	path = nondex/geoserver-manager
	url = https://github.com/geosolutions-it/geoserver-manager.git
[submodule "nondex/handlebars.java"]
	path = nondex/handlebars.java
	url = https://github.com/jknack/handlebars.java.git
